<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
<pre>
form.submitted = {{ form.submitted }}
form.status = {{ form.status | json }}
form.value = {{ form.value | json }}
data = {{ data | json }}
form.pristine = {{ form.pristine }}
form.dirty = {{ form.dirty }}
form.touched = {{ form.touched }}
form.untouched = {{ form.untouched }}
form.invalid = {{ form.invalid }}
form.valid = {{ form.valid }}
form.errors = {{ form.errors | json }}
</pre>
                <form class="user" (ngSubmit)="onSubmit(form)" #form="ngForm">
                  <div class="form-group" (dblclick)="changeStatus(mUsername)">
                    <input type="email" class="form-control form-control-user"
                           name="username" [(ngModel)]="data.username"
                           #mUsername="ngModel" required minlength="3" maxlength="40"
                           aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    <span *ngIf="mUsername.touched && mUsername['errors']?.required" class="has-error">!! 請輸入帳號</span>
                  </div>
<pre>
mUsername.value = {{ mUsername.value }}
mUsername.status = {{ mUsername.status }}
mUsername.pristine = {{ mUsername.pristine }}
mUsername.dirty = {{ mUsername.dirty }}
mUsername.touched = {{ mUsername.touched }}
mUsername.untouched = {{ mUsername.untouched }}
mUsername.invalid = {{ mUsername.invalid }}
mUsername.valid = {{ mUsername.valid }}
mUsername.errors = {{ mUsername.errors | json }}
</pre>
                  <div ngModelGroup="g2" #mG2="ngModelGroup" class="form-group" (dblclick)="changeStatus(mPassword)">
                    <input type="password" class="form-control form-control-user"
                           name="password" [(ngModel)]="data.password"
                           #mPassword="ngModel" required
                           placeholder="Password">
                    <span *ngIf="mPassword.touched && mPassword['errors']?.required" class="has-error">!! 請輸入密碼</span>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck"
                             [(ngModel)]="isRememberMe" #mRememberMe="ngModel"
                             [ngModelOptions]="{ standalone: true }">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-user btn-block">Login</button>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
